{
  "root_ca_name": "example-root-ca",
  "intermediate_ca_name": "example-intermediate-ca",
  "ca_org_name": "Example CA Org",
  "ca_country_name": "US",
  "ca_locality_name": "Minnesota",
  "ca_dns_names": [
    "ca.example.com",
    "mysteprelease-step-certificates.default.svc.cluster.local",
    "127.0.0.1"
  ],
  "jwk_provisioner_name": "admin",
  "ca_url": "mysteprelease-step-certificates.default.svc.cluster.local"
}